# Data Science Tools And Ecosystems

**Objectives**
* python 
* R
* Sql

In this notbook, Data science Tools and ecosytems are sumarized

Some of the popular languages that Data Scientists use are:


    1. Python
    2. SQL
    3. R

Some of the commonly used libraries used by Data Scientists include:

    1. TensorFlow
    2. NumPy
    3. Pandas
    4. SciPy

In [1]:
%%html
<style>
table {float:left}
</style>

| Data Science Tools |
|:-------------------|
|Jupyter Notebook| 
|RStudio|
|GitHub|

### Below are a few examples of evaluating arithmetic expresssions in Python

In [2]:
(3*4)+ 5
#This is a simple arithmetic expresssion to multiply then add integers

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## AUTHOR 
Marcos Ramos